<?xml version="1.0" encoding="utf-8"?>
<root>


<module
name="jobsearch"
target="SHJobSearchViewController" />
<module
name="provincelist"
target="SHProvinceViewController" />
<module
name="industrylist"
target="SHIndustryListViewController" />
<module
name="functionlist"
target="SHFunctionListViewController" />
<module
name="functionDetaillist"
target="SHFunctionDeatilViewController" />
<module
name="releasetimelist"
target="SHReleaseTimeViewController" />
<module
name="joblist"
target="JobListViewController" />
<module
name="jobdetail"
target="SHJobDetailViewController" />
<module
name="eduList"
target="SHEducationListViewController" />

<module
name="companydetail"
target="SHCompanyDetailViewController" />
<module
name="companymap"
target="SHCompanyMapViewController" />

<module
name="netList"
target="SHNetListViewController" />
<module
name="netDetail"
target="SHNetDetailViewController" />

<module
name="login"
pre_action ="notification_login_successful"
target="SHLoginViewController" />
<module
name="resumecenter"
pre_action ="intent_pre_action_login"
target="SHResumeCenterViewController" />

<module
name="resumedetail"
target="SHResumeDetailViewController" />
<module
name="editselfinfo"
target="SHEditSelfInfoViewController" />
<module
name="experiencedetail"
target="SHExperienceDetailViewController" />

<module
name="applyresumelist"
pre_action ="intent_pre_action_login"
target="SHApplyResumeListViewController" />
<module
name="showvideo"
target="SHShowVideoViewController" />
<module
name="recordvideo"
target="SHRecordVideoViewController" />

<module
name="interviewList"
target="SHInteviewListViewController" />
<module
name="interviewDetail"
target="SHInterviewDetailViewController" />

<module
name="school"
target="SHSchoolViewController" />

<module
name="more"
target="SHMoreViewController" />
<module
name="accountcenter"
target="SHAccountCenterViewController" />
<module
name="changeAccount"
target="SHChangeAccountViewController" />
<module
name="updatePhone"
target="SHUpdatePhoneViewController" />
<module
name="changePass"
target="SHChangePassViewController" />

<module
name="agreement"
target="SHAgreementViewController" />

</root>